
AdvancedProg/Oldski/Kasper/assignment4/.idea/workspace.xml
MOP_2/.idea/material_theme_project_new.xml
MachineProg/MOP_project_1/.idea/editor.xml
MachineProg/MOP_project_1/.idea/material_theme_project_new.xml
MachineProg/MOP_project_1/.idea/modules.xml
MachineProg/MOP_project_1/.idea/MOP_project_1.iml
MachineProg/MOP_project_1/.idea/vcs.xml
MachineProg/MOP_project_1/.idea/workspace.xml
